entrypoint = "index.html"
modules = ["web"]

[nix]
channel = "stable-24_11"
packages = ["python3"] # تأكدنا من وجود بايثون

[deployment]
publicDir = "."
deploymentTarget = "static"

[workflows]
runButton = "تشغيل المشروع"

[[workflows.workflow]]
name = "Serve static"
mode = "parallel"

[[workflows.workflow.tasks]]
task = "shell.exec"
# هنا السحر: شغلنا بايثون على منفذ 8080 مباشرة
args = "python3 -m http.server 8080"
waitForPort = 8080

[[ports]]
localPort = 8080
externalPort = 8080

[agent]
expertMode = true

